
p{
    color: rgb(184, 127, 11);
}
h2{
    color: rgb(12, 11, 5);
}
table{
    color: rgb(190, 147, 56);
}
ul{
    color: rgb(142, 59, 225);
}
ol{
    color: blueviolet;
}
form{
    color: rgb(147, 16, 228);
}